<!doctype html>

<html ng-app>
	<head>
		<script src="lib/angular/angular.js"></script>
		<script src="js/tournament.js"></script>
		<link rel="stylesheet" href="css/tournament.css">
		
	</head>
	<body ng-controller="TournamentCtrl">

		<form ng-submit="addPlayer()" id="newPlayerForm-{{players.length}}">
			<input type="text" ng-model="newPlayer" placeholder="Player Name">
			<input class="btn-primary" type="submit" value="add">
		</form>

		<h2>Players: {{players.length}}</h2>
		<ul>
			<li ng-repeat="player in players">
				<label>{{player.text}}</label>
			</li>
		</ul>


		<button ng-click="newTournament()" id="newTournament">
			Create Tournament
		</button>
	</body>
</html>